body{
    background-color: pink;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coolio{
    width: 500px;
    height: 100px;
    background-color: crimson;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}